%table.table.table-hover.table-condensed.table-striped
  %tr
    %th
      id
    %th
      Name
  - @categories.each do |category|
    %tr
      %td
        = category.id
      %td
        = category.name