%table.table.table-hover.table-condensed.table-striped#categories-table
  %tr
    %td#header
      id
    %td#header
      Name
  - @categories.each do |category|
    %tr
      %td
        = category.id
      %td
        = category.name